<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>Admin | Jesteś Gość</title>

    <!-- Style -->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Admin panel</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>All user</h1>
        <table>
            <thead>
            <tr>
                <th> Name</th>
                <th> Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No users Available</td>
            </tr>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.name}"> Name </span></td>
                <td><span th:text="${user.email}"> Email </span></td>
                <td>
                    <form th:action="@{/admin/users/edit}" th:object="${editUser}" method=get>
                        <input type="hidden" name="identifyingEmail" th:value="${user.email}">
                        <input type="hidden" name="newName" th:value="${user.name}">
                        <input class="btn btn-primary" type="submit" value="Edit"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/admin/users/remove}" th:object="${deleteUser}" method=post>
                        <input type="hidden" name="email" th:value="${user.email}">
                        <input class="btn btn-danger" type="submit" value="Remove" onClick="return confirm('sure?')"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main><!-- /.container -->

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>